@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.86 0 0);
  --input: oklch(0.88 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.86 0 0);
  --sidebar-ring: oklch(0.6 0 0);

  --auth-background: oklch(0.96 0.01 260);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --auth-background: oklch(0.18 0.02 260);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-auth: var(--auth-background);
}

body {
  font-family: theme(fontFamily.sans);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .form {
    @apply flex flex-col justify-center w-full space-y-4 bg-background px-8 py-5 min-h-[95vh] rounded-4xl border border-border md:max-w-[90%] md:px-12 md:py-7 md:min-h-[90vh] md:mx-auto md:space-y-8 lg:max-w-[50%] lg:max-h-[95vh] lg:px-16 lg:py-10 lg:mx-auto;

    .btn {
      @apply w-full! bg-primary! text-primary-foreground! rounded-full! min-h-10! font-bold! px-5! cursor-pointer! md:min-h-14! md:text-2xl! lg:min-h-14! lg:text-3xl! lg:max-w-[70%]! lg:mx-auto!;
      @apply hover:bg-primary/80!;
    }

    .form-label {
      @apply md:text-[20px]! lg:text-[25px]!;
    }

    .input-label {
      @apply border-input! focus-visible:ring-ring! md:h-12! md:text-[18px]! lg:max-h-14! lg:text-[20px]!;
    }

    .form-item {
      @apply lg:min-w-[70%]! lg:mx-auto!;
    }

    @media ((max-height: 800px) and (min-width: 768px)) {
      .btn {
        @apply min-h-12!;
      }
    }
  }

  @media ((max-height: 800px) and (min-width: 768px)) {
    .form {
      @apply space-y-3!;
      h1 {
        @apply text-5xl! -mt-7!;
      }

      p {
        @apply text-[20px]! mb-3;
      }
    }
  }

  .auth-layout {
    @apply flex flex-col justify-center items-center mx-auto min-h-screen max-sm:px-4 bg-auth;
  }

  .hub {
    @apply flex flex-col justify-evenly items-center bg-background font-bold border border-border rounded-3xl text-center w-full px-8 py-5 min-h-[95vh] lg:grid lg:grid-cols-2 lg:py-16 lg:max-w-[95vw];

    button {
      @apply bg-primary text-primary-foreground border border-sidebar-border w-full text-[1rem] px-8 py-3 rounded-4xl hover:bg-primary/80 transition cursor-pointer md:px-16 md:py-4 md:text-2xl;
    }
  }

  .questions {
    @apply flex flex-col justify-evenly items-center font-bold text-center w-full px-8 py-5 min-h-[95vh];

    .Card {
      @apply w-full max-w-77.5 max-h-42.5 md:w-[80%] lg:mx-auto;
    }
  }

  .btn-back-hub {
    @apply border border-sidebar py-1 px-10 rounded-xl bg-primary text-primary-foreground font-bold cursor-pointer w-[80vw] hover:bg-primary/90 md:text-[20px] md:w-full md:rounded-b-none md:bg-card md:text-card-foreground md:border-2 md:border-primary md:hover:bg-primary/10 lg:w-[80%] lg:py-10 lg:rounded-xl lg:text-[25px];
  }

  .card-new-question {
    @apply flex min-w-[85%] max-w-[85%] h-[15vh] border-t-2 border-l-2 border-r-2 border-primary rounded-t-xl justify-center items-center bg-sidebar-primary/5 md:rounded-t-none lg:min-w-[70%];
  }

  .form-new-question {
    @apply flex flex-col min-w-[85%] max-w-[85%] bg-card text-card-foreground border-2 border-primary rounded-b-xl py-6 px-6 md:space-y-6 lg:min-w-[70%] lg:max-w-[70%];
  }
}
